.mac{
   	background-color: white;
	color: black;
	padding:20 px;
}

#header{
	background-color: green;
	color: white;
	text-align: center;
	padding: 5px; 
}
#nav{
	line-height: 30px;
	background-color: #eeeeee;
	height: 325px;
	width: 300px;
	float: left;
	padding: 5px;
}
#nav1{
	line-height: 30px;
	background-color: #eeeeee;
	height: 325px;
	width: 200px;
	float: right;
	padding: 5px;
}
#section{
	width: 1000px;
	float: left;
	padding: 50px;
	}
#footer{
	background-color: green;
	color: white;
	clear:both;
	text-align:center;
	padding:10px;
}
